.head-conteiner {
	padding-left: 5%;
	width: 90%;
}

body {
	background-color: #eee
}

.conteiner {
	width: 100%;
	text-align: center;
}

.test {
	border: 1px solid red;
}

.user-name-from-his-google-profile {
	padding-right: 10px;
	width: 90%;
	text-align: right;
	margin-left: 5%;
	margin-right: 5%;
}

.previous-queries {
	border: 1px solid #67FF2B; /*  new */
	padding: 5px 0 5px;
	width: 90%;
	height: 20%;    /* !!!!! */
	overflow: auto;
	margin-left: 5%;
	margin-right: 5%;
}

.search-box-and-map {
	width: 90%;
	height: 400px;
	margin-left: 5%;
	margin-right: 5%;
}

.search-result-as-a-list {
	width: 90%;
	height: 200px;
	padding-top: 5px;
	margin-left: 5%;
	margin-right: 5%;
}

#idInputSearch {
	padding-left: 5px;
	border-radius: 20px 20px 20px 20px;
}

.map-with-venues {
	text-align: center;
}

.div-previous-queries {
	width: 100%;
}

input[name="search"] {
	height: 35px;
	margin: 10px 0 10px;

  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

input[name="search"]:focus {
	border: 5px solid;
  border-color: #4d90fe;
}

#map {
	height: 100%;
	margin: 0
	min-width: 300px;
	min-height: 250px;
}

tr:nth-child(2n) {
	background: #eee;
}
tr:nth-child(2n+1) {
	background: #bbb;
}